/* ----------------------------------------------------------------------------
   Imports
   ------------------------------------------------------------------------- */

@import "../../protected/extensions/bootstrap/assets/less/variables.less";
@import "../../protected/extensions/bootstrap/assets/less/mixins.less";

/* ----------------------------------------------------------------------------
   Overrides
   ------------------------------------------------------------------------- */

@grayLight:             #D0D0D0;
@grayLighter:           #E5E5E5;
@legacyGreen:			#F0FFCC;

/* ----------------------------------------------------------------------------
   Tags
   ------------------------------------------------------------------------- */
h1 {
	font-size: 24px;
}

h2 {
	font-size: 21px;
}

h3 {
	font-size: 18px;
}

body {
	font: normal 0.9em Arial, Helvetica, sans-serif;
	color: @grayDark;
	line-height: 1.5em;
	//padding-top: 60px;
}

legend {
	// fix Opera
	position: relative;
}

/* ----------------------------------------------------------------------------
   Classes
   ------------------------------------------------------------------------- */
tr.winning-submission td {
	background: @successBackground !important;
}

// make form hints italic
.controls .help-block {
	font-style: italic;
}

// make popover titles the same color as the navbar
.popover-title {
	#gradient > .vertical(#0088CC, #0044CC);
	border-color: #004DE6;
	color: #FFF;
}

/* ----------------------------------------------------------------------------
   Layout
   ------------------------------------------------------------------------- */

.breadcrumbs {
	position: relative;

	.language-selector {
		position: absolute;
		top: 3px;
		right: 3px;

		label {
			// this thing refuses to be positioned in any sane way
			position: relative;
			top: -3px;
			display: inline-block;
			margin-right: 10px;
		}

		select {
			width: 100px;
		}
	}
}

.content {
	margin-bottom: 20px;
}

.footer {
	position: relative;
	padding: 20px 0;
	border-top: 1px solid @grayLighter;
	font-size: 0.8em;
	text-align: center;
}

// override some navbar defaults
.navbar-inner {
	border-radius: 0 0 4px 4px;

	// the container provides enough padding as it is
	padding-left: 0;
	padding-right: 0;

	.container-fluid {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.navbar-inverse .navbar-inner {
	#gradient > .vertical(#0088CC, #0044CC);
	border-color: #004DE6;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	color: #FAFAFA;
}

.nav > li.active > a, li.dropdown > a {
	background: none !important;
}

// use lesser padding around navbar items
.navbar .nav > li > a {
	padding: 10px 8px;
}

// use even lesser margin for the icon-only items to the right
.menu-items-right > li > a {
	padding: 10px 5px !important;
}

.navbar .brand {
	margin-left: -10px;
	padding-right: 10px;
}

/* ----------------------------------------------------------------------------
   Pages
   ------------------------------------------------------------------------- */

/* --- CMS stuff --- */
.cms-content {
	padding: 0;
}

.node-edited-by {
	font-size: 0.7em;
}

/* --- Registration --- */
.registration-container {
	position: relative;
}

.registration-form {
	border-right: 1px solid @grayLighter;
	margin-bottom: 20px;

	h1 {
		margin-top: 0;
	}

	// make it fit
	.alert {
		padding-right: 4px;
		margin-right: 20px;
	}

	form, .form-actions {
		margin-bottom: 0;
	}
	
	.disclaimer {
		margin-bottom: 20px;
	}
}

.registration-info {
	margin-left: 20px;
}

.statistics {
	display: table;
	position: absolute;
	bottom: 20px;
	left: 720px;

	table {
		tr {
			td:first-child {
				padding-right: 20px;
			}
		}
	}
}

.registration-list {
	table {
		border-collapse: collapse;

		.compo_header {
			background-color: @legacyGreen !important;
		}

		td, th {
			&.center-align {
				text-align: center;
			}

			&.thick_right_border {
				border-right: 2px solid @grayDark !important;
			}

			&.thick_left_border {
				border-left: 2px solid @grayDark !important;
			}

			&.nick {
				img {
					vertical-align: middle;
					margin-left: 6px;
				}
			}

			&.device {
				padding: 2px 5px;
			}
		}
	}
}

/* --- Archive --- */
.archive-container {
	margin-top: 20px;

	.archive-heading {
		position: relative;

		.back-link {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	.archive-table {
		border: 1px solid @grayLight;

		tr {
			th, td {
				border: 1px solid @grayLight;
				padding: 4px;
			}

			td {
				&:first-child {
					background: none !important;
					border-bottom: 0 !important;
					border-top: 0;
				}

				&.comments {
					max-width: 200px;
				}

				img {
					vertical-align: middle;
					margin-right: 6px;
				}
			}

			th {
				background: @grayLight;
				font-weight: bold;
				text-align: left;
			}

			&.disqualified td {
				background-color: @errorBackground;
			}

			&.submission-separator td {
				border-top: 2px solid @grayDark !important;
			}

			&.no-submissions td {
				font-style: italic;
			}
		}
		
	}
}

/* --- Voting --- */
#submission-list {
	#loading-submissions {
		padding-right: 10px;
		display: none;

		img {
			width: 24px;
			height: 24px;
		}

		&.visible {
			display: inline-block !important;
		}
	}

	.placeholder {
		margin-left: 180px;
		color: @gray;
		font-style: italic;
	}
}
/* --- Competition registration --- */
.competitor-count {
	margin-bottom: 0;
}

/* --- User profile --- */
.user-profile {
	// remove the top border from the detail view
	.detail-view tr:first-child {
		& td, & th {
			border-top: 0 !important;
		}
	}

	.picture {
		max-width: 264px;
		margin-bottom: 20px;
		padding: 2px;
		border: 1px dashed @grayLight;
		text-align: center;
	}

	.profile-inner-list {
		display: none;		
		margin: 10px 20px 0 0;

		th {
			text-align: left;
		}
	}

	// badges
	.user-badge {
		img {
			float: left;
			display: block;
			margin-right: 12px;
			vertical-align: middle;
		}

		p {
			float: left;
		}
	}

	.submission-list {
		tr.winning-submission td:first-child {
			font-weight: bold;
		}
	}

	.lan-name {
		font-size: smaller;
		font-style: italic;
		font-weight: normal;
	}
}

/* --- User list --- */
.users {
	.thumbnail {
		.image-container {
			height: 159px;
			text-align: center;

			img {
				max-height: 159px;
			}
		}

		margin-bottom: 4px;
	}
}

/* --- User registration --- */
.has-werket-login-hint {
	display: table;
	max-width: 300px;
	margin-bottom: 0;
}

/* --- Backend --- */
.lan-competition-grid {
	.display-order {
		input {
			width: 25px;
			height: 12px;
			font-size: 12px;
			margin: 0;
		}
	}
}

.competition-form {
	.checkboxes {
		margin-bottom: 20px;

		.control-group {
			margin-bottom: 0;
		}
	}
}

.dashboard {
	.lan-status {
		height: 120px;
		line-height: 120px;
		text-align: center;
		background-color: @errorBackground;
		.border-radius(4px);
		font-size: 16px;
		font-weight: bold;
		color: #333;

		&.on {
			background-color: @successBackground;
		}
	}
}

.position-grid {
	max-width: 300px;

	.position {
		input {
			width: 25px;
			height: 12px;
			font-size: 12px;
			margin: 0;
		}
	}
}