/* ----------------------------------------------------------------------------
   Imports
   ------------------------------------------------------------------------- */

@import "../../protected/extensions/bootstrap/lib/bootstrap/less/variables.less";
@import "../../protected/extensions/bootstrap/lib/bootstrap/less/mixins.less";

/* ----------------------------------------------------------------------------
   Overrides
   ------------------------------------------------------------------------- */

@grayLight:             #D0D0D0;
@grayLighter:           #E5E5E5;
@legacyGreen:			#F0FFCC;

/* ----------------------------------------------------------------------------
   Tags
   ------------------------------------------------------------------------- */
h1 {
	font-size: 24px;
}

h2 {
	font-size: 21px;
}

h3 {
	font-size: 18px;
}

body {
	font: normal 0.9em Arial, Helvetica, sans-serif;
	color: @grayDark;
	line-height: 1.5em;
	//padding-top: 60px;
}

/* ----------------------------------------------------------------------------
   Classes
   ------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
   Layout
   ------------------------------------------------------------------------- */

.content {
	margin-bottom: 20px;
}

.footer {
	padding: 20px 0;
	border-top: 1px solid @grayLighter;
	font-size: 0.8em;
	text-align: center;
}

// override some navbar defaults
.navbar-inner {
	border-radius: 0 0 4px 4px;
}

.navbar-inverse .navbar-inner {
	#gradient > .vertical(#0088CC, #0044CC);
	border-color: #004DE6;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	color: #FAFAFA;
}

.nav > li.active > a, li.dropdown > a {
	background: none !important;
}

/* ----------------------------------------------------------------------------
   Pages
   ------------------------------------------------------------------------- */

/* --- CMS stuff --- */
.cms-content {
	padding: 0;
}

.node-edited-by {
	font-size: 0.7em;
}

/* --- Registration --- */
.registration-container {
	position: relative;
}

.registration-form {
	border-right: 1px solid @grayLighter;
	margin-bottom: 20px;

	h1 {
		margin-top: 0;
	}

	// make it fit
	.alert {
		padding-right: 4px;
		margin-right: 20px;
	}

	form, .form-actions {
		margin-bottom: 0;
	}
	
	.disclaimer {
		margin-bottom: 20px;
	}
}

.registration-info {
	margin-left: 20px;
}

.statistics {
	display: table;
	position: absolute;
	bottom: 20px;
	left: 720px;

	table {
		tr {
			td:first-child {
				padding-right: 20px;
			}
		}
	}
}

.registration-list {
	table {
		border-collapse: collapse;

		.compo_header {
			background-color: @legacyGreen !important;
		}

		td, th {
			&.center-align {
				text-align: center;
			}

			&.thick_right_border {
				border-right: 2px solid @grayDark !important;
			}

			&.thick_left_border {
				border-left: 2px solid @grayDark !important;
			}

			&.nick {
				img {
					vertical-align: middle;
					margin-left: 6px;
				}
			}
		}
	}
}

/* --- Archive --- */
.archive-container {
	margin-top: 20px;

	.archive-heading {
		position: relative;

		.back-link {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	.archive-table {
		border: 1px solid @grayLight;

		tr {
			th, td {
				border: 1px solid @grayLight;
				padding: 4px;
			}

			td {
				&:first-child {
					background: none !important;
					border-bottom: 0 !important;
					border-top: 0;
				}

				&.comments {
					max-width: 200px;
				}

				img {
					vertical-align: middle;
					margin-right: 6px;
				}
			}

			th {
				background: @grayLight;
				font-weight: bold;
				text-align: left;
			}

			&.winner td {
				background: @successBackground;
			}

			&.disqualified td {
				background-color: @errorBackground;
			}

			&.submission-separator td {
				border-top: 2px solid @grayDark !important;
			}

			&.no-submissions td {
				font-style: italic;
			}
		}
		
	}
}

/* --- Voting --- */
#submission-list {
	#loading-submissions {
		padding-right: 10px;
		display: none;

		img {
			width: 24px;
			height: 24px;
		}

		&.visible {
			display: inline-block !important;
		}
	}

	.placeholder {
		margin-left: 180px;
		color: @gray;
		font-style: italic;
	}
}
/* --- Competition registration --- */
.competitor-count {
	margin-bottom: 0;
}

/* --- User profile --- */
.user-profile {
	// remove the top border from the detail view
	.detail-view tr:first-child {
		& td, & th {
			border-top: 0 !important;
		}
	}

	.picture {
		img {
			min-width: 170px;
			max-width: 170px;
			border: 1px dashed @grayLight;
			padding: 2px;
		}
	}

	// badges
	.user-badge {
		img {
			float: left;
			display: block;
			margin-right: 12px;
			vertical-align: middle;
		}

		p {
			float: left;
		}
	}

	.submission-list {
		tr.winner td {
			background: @successBackground;

			&:first-child {
				font-weight: bold;
			}
		}

		.lan-name {
			font-size: smaller;
			font-style: italic;
			font-weight: normal;
		}
	}
}