[submodule "protected/extensions/bootstrap"]
	path = protected/extensions/bootstrap
	url = git@github.com:tlklan/yii-bootstrap-git.git
[submodule "protected/extensions/less"]
	path = protected/extensions/less
	url = git@github.com:tlklan/yii-less-git.git
[submodule "protected/modules/image"]
	path = protected/modules/image
	url = git@github.com:tlklan/yii-img-git.git
[submodule "protected/modules/cms"]
	path = protected/modules/cms
	url = git@github.com:tlklan/yii-cms-git.git
