assets/*
files/cms/attachments
files/documents
protected/runtime
files/images/originals/
files/images/versions/
css/styles.css
css/small-screen.css
.idea/workspace.xml
.vagrant
provisioning/sql/database.sql
/vendor/
*.log
.env*
!.env.example
