tlklan/assets/*
tlklan/files/cms
tlklan/files/documents
tlklan/protected/runtime
tlklan/files/images/originals/
tlklan/files/images/versions/
tlklan/css/styles.css
tlklan/css/small-screen.css
.idea/workspace.xml
.vagrant
provisioning/sql/*.sql
tlklan/vendor/
*.log
.env*
!.env.example
volumes/