assets/*
protected/config/main.php
files/cms/attachments
files/documents
protected/runtime
protected/config/console.php
files/images/originals/
files/images/versions/
css/styles.css
css/small-screen.css
files/images/.htaccess
.idea/workspace.xml
.vagrant
provisioning/sql/database.sql
/vendor/
*.log
