.archive-container {
	margin-top: 2em;
}

.archive-heading {
	position: relative;
}

.archive-heading-back-link {
	position: absolute;
	top: 0;
	right: 0;
}

/* Table-related styles */
table.archive-table {
	width: 100%;
	border-collapse: collapse;
}

table.archive-table th {
	background: #EAEAEA;
	font-weight: bold;
	text-align: left;
}

table.archive-table td, table.archive-table th {
	border: 1px solid #D0D0D0;
	padding: 4px;
}

table.archive-table tr td:first-child {
	background: none !important;
}

tr.archive_th_thick td {
	border-top: 2px solid #999;
}

tr.winning_row td {
	background: #CCFFCC;
}

tr.disqualified_row td {
	background: #FFB3C6;
}

.comments_td {
	max-width: 200px;
}

/* Save to disk image alignment */
table.archive-table td img {
	vertical-align: middle;
	margin-right: 6px;
}
