<IfModule mod_expires.c>
        ExpiresActive On
        ExpiresByType image/gif "access plus 180 days"
        ExpiresByType image/jpeg "access plus 180 days"
        ExpiresByType image/png "access plus 180 days"
        ExpiresByType image/x-icon "access plus 180 days"
        ExpiresByType text/css "access plus 180 days"
        ExpiresByType text/javascript "access plus 180 days"
        ExpiresByType application/x-javascript "access plus 180 days"
        ExpiresByType application/javascript "access plus 180 days"

		# Fontawesome
        ExpiresByType application/vnd.bw-fontobject "access plus 180 days"
        ExpiresByType application/x-font-ttf "access plus 180 days"
        ExpiresByType application/x-font-woff "access plus 180 days"
</IfModule>